body {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
  }
header
{
    font-family: 'Courier New', Courier, monospace;
}

subheader
{
    font-family: 'Courier New', Courier, monospace;
}